 
@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);

body{
  margin: 0px; 
  /* font-family: 'Dubai-Regular', Helvetica, sans-serif;
 
  line-height:.8rem; */
 
}
.sv_main{
  font-family: 'Dubai-Regular', Helvetica, sans-serif!important; 
  font-size: 1.1rem!important;
}

h3 {font-size: 1.2rem!important;}
h2{font-size: 1.8rem!important}
h3,h2,.pg-title, .fin-heading>h3 {color: #55657D!important}
h3.sec-head{color:#fff!important;}
li, p {  
  line-height:1.4rem!important;  
}
 
.main-wrapper{
  padding: 15px;
}
.collapsible {
    background-color:#fff;
    color: #333;
    cursor: pointer;
    padding:0px;
    width: 100%;
    border: none; 
    outline: none;
   
  }
  .sv_main .sv_container
  {
    color:#333!important;
  }
  .sv_main input[type="button"], .sv_main button {
    background-color:#55657D!important;
  }
  .sv_main input[type="button"]:hover, .sv_main button:hover
  {
    background-color:#667E96!important;
  }
  .ac-pnl-ltr>.result>.collapsible{
    text-align: left;
  }
  .ac-pnl-rtl>.result>.collapsible{
    text-align: right;
  }
  .ac-pnl-ltr>.result>.collapsible {
    background-image: url('./images/forward-50.png');
    background-repeat: no-repeat; 
    background-position: right bottom; 
   }
   .ac-pnl-ltr>.result>.active, .ac-pnl-ltr>.result>.collapsible:hover {
    background-image: url('./images/down-50.png')!important;
    background-repeat: no-repeat; 
    background-position: right bottom; 
  }
  
  .ac-pnl-rtl>.result>.collapsible {
    background-image: url('./images/forward-left-50.png');
    background-repeat: no-repeat; 
    background-position: left bottom; 
   }
  .ac-pnl-rtl>.result>.active, .ac-pnl-rtl>.result>.collapsible:hover {
    background-image: url('./images/down-50.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: left bottom; 
  }
  .sv_main .sv_custom_header{background-color:#4472C6!important; }
  /* 
  .ac-pnl-ltr>.result>.collapsible:after {
    content: '\002B';
    color: #333;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .ac-pnl-ltr>.result>.collapsible>.active:after {
    content: "\2212";
  }
  .ac-pnl-rtl>.result>.collapsible:before {
    content: '\002B';
    color: #333;
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }
  
  .ac-pnl-rtl>.result>.collapsible>.active:before {
    content: "\2212";
  } */
  
  .rtl-footer { width: 100%!important;clear: both!important;}
  .rtl-btn{float: left !important;;}
  .ltr-btn{float:right;}

  .rtl-prv-btn,.ltr-complete-btn {float: right!important;}
  .ltr-prv-btn,.rtl-complete-btn {float: left!important;}

  /*Overriden Styles */

  .sv_progress_bar { 
    font-size: .9em; 
  }

  .fin-heading  { 
    background-color: #fff;
    /* padding:.8em .2em; */
    margin:0;
  }
  .fin-heading>h3,.pg-title{font-size: 1.8rem!important;font-weight: 400;margin:0;padding: 0 0 .5em 0; border-bottom: 1px solid #A5A569!important;}
  /* .pg-title{ border-bottom: 2px solid #4472C6!important} */

  .sv_main .sv_container .sv_body{padding:1em 0em 1em 0em!important; }
  /* .sv_container{padding:0 1em!important} */
  .sv_q{padding:0!important;}
  .fin-progressbar {    
    height: 100%;
    min-width: 100px;
    position: relative;
    margin-top: 2rem;
    background-color: #55657D;}

    .sv_progress .fin-progressbar > span {
        position: absolute;
        top: -2rem;
        display: inline-block;
    }
  .sv_p_title{background-color:#55657D; color: #ffffff; padding: .3em; margin-bottom: 1rem!important}
  .fin-button{padding:5px 0!important;}   /* .fin-button{line-height:3em !important;} */

  .sv_main .sv_body{border-top:none!important;}
  /* .sv_container{text-align: unset!important;padding: 0!important;} */
  /* .sv_main .sv_container .sv_body.sv_completed_page{padding:1em .7em!important} */
  
  .rtl{text-align:right!important;}
  .ltr{text-align:left!important;}
  .sv_main .sv_container .sv_body.sv_completed_page > h3 {font-size: 1.17em!important;font-weight: bold!important;}
  .survey-tooltip {
    display: inline-block;
    color: white;
    background-color: #1ab394;
    border-radius: 50%;
    padding: 0 7px;
    cursor: help;
}
/* #surveyResult{padding: 0 1em;} */
 #printReport{
  border-top: #dddddd solid 1px; 
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
 
#printReport input[type="button"]
{ 
   font-size: 0.85em;
  font-weight: bold; 
  line-height:3em;
  border: none;
  min-width: 100px;
  cursor: pointer;
  padding: 0 2em;
  border-radius: 2px;  
  color: white;
  background-color: #55657D;
  margin-bottom: 2em;
}
#printReport input[type="email"]{
  height: 1.5em;
  padding: .5em;
  width: 270px;
}
.responsive {
  width: 100%;
  max-width: 580px;
  height: auto;
}

.content{
        
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; 
  } 
  .collapsible>.sec-head>h3{padding:0 .7em;margin:0px;}
  .sec-summary{padding:.7em;}
  .sec-summary>h3{margin:0px;padding:0px;} 

  .ac-pnl-rtl>.result>.collapsible>.sec-summary {
  margin-left: 55px!important;
  }
  .ac-pnl-ltr>.result>.collapsible>.sec-summary {
  margin-right: 55px!important;
  }
  .collapsible>.content{padding: 0 1em!important;}
  .page-break {
      page-break-after: always;
      page-break-inside: avoid;
      clear:both;
  }
  .page-break-before {
      page-break-before: always;
      page-break-inside: avoid;
      clear:both;
  }
  .error-required { color:red;font-style: italic;}
